<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink='/home'>Home</a>
      <a mat-list-item routerLink='/users'>Users</a>
      <a mat-list-item routerLink='/market'>Market</a>
      <!-- Botones para probar la carga bajo demanda de rutas/módulos -->
      <button (click)="cargarTodas()">CARGAR TODAS</button>
      <button (click)="cargarRuta('market')">CARGAR MARKET</button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Preloading-Strategies</span>
    </mat-toolbar>
    <!-- CONTENIDO DE LA PÁGINA QUE TOCA -->
    <div class="content" role="main">
      <!-- Esto es lo que cambia -->
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
